In [1]:
import pandas as pd

In [2]:
air1 = pd.read_csv('../data/seoul_air_quality_2008_2011.csv', thousands=',', encoding='euc-kr')
air1.head()

                 일시   구분  미세먼지(PM10)  초미세먼지(PM25)
0  2011/12/31 23:00   평균        89.0         61.0
1  2011/12/31 23:00  강남구        91.0         58.0
2  2011/12/31 23:00  강동구        89.0         59.0
3  2011/12/31 23:00  강북구        68.0         49.0
4  2011/12/31 23:00  강서구        79.0         69.0

In [3]:
air1.describe()

          미세먼지(PM10)    초미세먼지(PM25)
count  879560.000000  894380.000000
mean       51.062809      26.150294
std        40.888807      46.058658
min         1.000000    -273.000000
25%        27.000000      13.000000
50%        43.000000      21.000000
75%        64.000000      33.000000
max      1354.000000    9940.000000

In [4]:
air1.rename(columns={air1.columns[1] : '구별'},inplace=True)

In [5]:
air1.head()

                 일시   구별  미세먼지(PM10)  초미세먼지(PM25)
0  2011/12/31 23:00   평균        89.0         61.0
1  2011/12/31 23:00  강남구        91.0         58.0
2  2011/12/31 23:00  강동구        89.0         59.0
3  2011/12/31 23:00  강북구        68.0         49.0
4  2011/12/31 23:00  강서구        79.0         69.0

In [6]:
air1.sort_values(by='미세먼지(PM10)',ascending=True).head(5)

                      일시   구별  미세먼지(PM10)  초미세먼지(PM25)
19680   2011/11/30 10:00  강동구         1.0          2.0
294389  2010/09/12 11:00  중랑구         1.0          1.0
19518   2011/11/30 17:00  은평구         1.0          NaN
98299    2011/07/27 8:00  송파구         1.0          1.0
98298    2011/07/27 8:00  성북구         1.0          1.0

In [7]:
air1.sort_values(by='미세먼지(PM10)',ascending=False).head(5)

                     일시    구별  미세먼지(PM10)  초미세먼지(PM25)
257259  2010/11/12 0:00  영등포구      1354.0        163.0
257246  2010/11/12 0:00   구로구      1341.0        143.0
257244  2010/11/12 0:00   관악구      1318.0        177.0
257252  2010/11/12 0:00   마포구      1317.0        133.0
257240  2010/11/12 0:00   강남구      1291.0        122.0

In [8]:
air1['미세and초미세의 합']=(air1['미세먼지(PM10)'] + air1['초미세먼지(PM25)'])
air1.sort_values(by='미세and초미세의 합',ascending=False).head(5)

                      일시    구별  미세먼지(PM10)  초미세먼지(PM25)  미세and초미세의 합
2223    2011/12/28 10:00  서대문구        65.0       9940.0      10005.0
651864  2009/02/09 10:00  서대문구        76.0       9551.0       9627.0
451619  2010/01/01 15:00  서대문구        42.0       7160.0       7202.0
2197    2011/12/28 11:00  서대문구        69.0       5220.0       5289.0
669229   2009/01/12 7:00  서대문구        48.0       4957.0       5005.0

In [9]:
air2 = pd.read_csv('../data/seoul_air_quality_2020_2021.csv', thousands=',', encoding='euc-kr')
air2.head()

                 일시   구분  미세먼지(PM10)  초미세먼지(PM25)
0  2021/05/31 23:00   평균        43.0         23.0
1  2021/05/31 23:00  강남구        42.0         24.0
2  2021/05/31 23:00  강동구        47.0         30.0
3  2021/05/31 23:00  강북구        48.0         27.0
4  2021/05/31 23:00  강서구        49.0         28.0

In [10]:
air2.rename(columns={air2.columns[1] : '구별'},inplace=True)

In [11]:
air2.head()

                 일시   구별  미세먼지(PM10)  초미세먼지(PM25)
0  2021/05/31 23:00   평균        43.0         23.0
1  2021/05/31 23:00  강남구        42.0         24.0
2  2021/05/31 23:00  강동구        47.0         30.0
3  2021/05/31 23:00  강북구        48.0         27.0
4  2021/05/31 23:00  강서구        49.0         28.0

In [12]:
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

In [13]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [14]:
air1.head()

                 일시   구별  미세먼지(PM10)  초미세먼지(PM25)  미세and초미세의 합
0  2011/12/31 23:00   평균        89.0         61.0        150.0
1  2011/12/31 23:00  강남구        91.0         58.0        149.0
2  2011/12/31 23:00  강동구        89.0         59.0        148.0
3  2011/12/31 23:00  강북구        68.0         49.0        117.0
4  2011/12/31 23:00  강서구        79.0         69.0        148.0

In [ ]:
air1['미세and초미세의 합'].plot(kind='barh', grid=True, figsize=(10,10))

In [ ]:
plt.show()